h1{
    color: rgb(255, 196, 0);
    font-size: 75px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
}
.logo{
    height: 100px;
    width: 100px;
    
    margin-top: 0%;
    margin-left: 0%; 
}
a{
    color: palegreen;
    font-size: 69px;
    text-align:right;
    margin: 1790px;
}
.home {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: contain;
    background-size:contain;
    background-position: contain !important;
    min-height: 45rem;
}
div{
    color: rgb(0, 0, 0);
    font-size: 80px;
    padding: 50px;
}
#tour {
    margin-left: 275px;
}
#tour {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: #060606;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
  
#tour::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
#tour:hover {
    color: #000000;
}
   
#tour:hover::before {
    width: 100%;
}

#hotel {
    margin-left: 600px;
    margin-top: 100px;
}

#hotel {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: #000000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
  
#hotel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
#hotel:hover {
    color: #000000;
}
   
#hotel:hover::before {
    width: 100%;
}