h1{
    color: rgb(255, 196, 0);
    font-size: 75px;
    font-family: monospace;
<<<<<<< HEAD
=======

>>>>>>> a3a1bcd375220b286856120bd56e6c6a44168373
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
}
<<<<<<< HEAD
=======

>>>>>>> a3a1bcd375220b286856120bd56e6c6a44168373
.logo{
    height: 100px;
    width: 100px;
    
    margin-top: 0%;
    margin-left: 0%; 
}


.container {
    margin-top: 220px;
    width: 100%; /* Set the width of the container */
    height: 45vh; /* Set the height of the container */
    background-image: url('C:/Users/Sanjay/Desktop/foodventures/bg1.jpg'); /* Specify the background image */
    background-size: contain; /* Ensure the background image covers the entire container */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
  }


a{
    color: palegreen;
    font-size: 69px;
    text-align:right;
    margin: 1790px;
}
<<<<<<< HEAD
=======

>>>>>>> a3a1bcd375220b286856120bd56e6c6a44168373
.home {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: contain;
    background-size:contain;
    background-position: contain !important;
    min-height: 45rem;
}
div{
    color: rgb(0, 0, 0);
    font-size: 80px;
<<<<<<< HEAD
=======
    padding: 50px;
}
#tour {
    margin-left: 275px;
}
#tour {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: #060606;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
  
#tour::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
#tour:hover {
    color: #000000;
}
   
#tour:hover::before {
    width: 100%;
}

#hotel {
    margin-left: 600px;
    margin-top: 100px;
}

#hotel {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: #000000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
  
#hotel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
#hotel:hover {
    color: #000000;
}
   
#hotel:hover::before {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 45px;
>>>>>>> a3a1bcd375220b286856120bd56e6c6a44168373
    padding: 50px;
}





.tour {
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: #060606;
    position: absolute;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin: 4px 2px; /* Margin */
    cursor: pointer;
    left: 8cm; /* Align to the left side of the page */
    top: 50%; /* Align vertically to the middle */
    transform: translateY(-50%);
    top: 5cm;
    background-repeat: no-repeat;

}
  
.tour::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
.tour:hover {
    color: #000000;
}
   
.tour:hover::before {
    width: 100%;
}



.hotel {
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: #060606;
    position: absolute;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    text-align: center;
<<<<<<< HEAD
    display: inline-block;
    margin: 4px 2px; /* Margin */
    cursor: pointer;
    left: 30cm; /* Align to the left side of the page */
    top: 50%; /* Align vertically to the middle */
    transform: translateY(-50%);
    top: 5cm;
    background-repeat: no-repeat;
}
  
.hotel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
.hotel:hover {
    color: #000000;
}
   
.hotel:hover::before {
    width: 100%;
=======
    font-family: cursive;
    margin-top:auto;
    /* margin: 150px; */
    padding: 150px;
    /* width: 200px; */

>>>>>>> a3a1bcd375220b286856120bd56e6c6a44168373
}